<md-card>
  Ask yourself a question right now - would you honestly miss 10% of your income today? Really think about it, what do you do with that last 10%? buy clothes that that might not get worn, buy food that might be thrown away, indulge in excess luxuries? Now, don't get me wrong, enjoying yourself is one of the gems of life but does that last 10% really make <i>that</i> much difference in your ability to do so? What if that 10% now could make you a £100,000 or even £1,000,000 for yourself in the future? Actually this isn't a case of <i>if</i>, but more a case of <i>when</i>. 
  <br><br>
  It is very important that you think you can live without this 10% of your income, because without this belief it will be very hard going forward. If you genuinely think you cannot then please stop reading here.
  <br><br>
  Ok, still here, great! So, let's say you earn the average median wage within the UK:
  <br>
  £27,195 
  <br>
  <b>£21,772</b> (after tax).
  <br><br>
  You decide to save 10% of your income (well done you!), you invest it in a cash ISA (with a 1% annual return). You set up an automated investment which comes out of your bank and hits your ISA each month (again, well done you, you're doing very well). So, next question - how long would it take for this 10% each year to turn into £100,000?
  <br><br>
  Well, in a bank (1% annual interest) - that would be... 38 years.
  <br><br>
  Ok, ok, this may seem like a long time, but don't forget, you can live without this money and are still enjoying your life (very important).
  <br><br>
  So, good start, but what if you go further and look for investments beyond a bank account?
  <br><br>
  What if you find a return of 7% annual interest - the average annual return of FTSE100 (the 100 companies listed on the London Stock Exchange with the highest market capitalisation) since 1917, how much would you have after those 38 years?
  <br><br>
  £401,999
  <br><br>
  That's quandrouple the amount.
  <br><br>
  Just for investing your savings elsewhere.
  <br><br>
  Ok, I can hear you brain whirring, <blockquote>"Aren't investments risky?"<br>"Isn't there a risk of the stock market crashing?"<br>"Isn't there a chance I'll lose all of my money?".</blockquote>
  <br>
  Valid questions, of course worthy of asking, because although you've established you don't need the 10% you want to make sure you don't lose it, right?
  
  <br><br>
  The short answer is - yes there is volitility (ups and downs) when investing in index (e.g. FTSE100, S&P500) in the short term but over the long term volitility is much lower.
   
  There's a lot of information around but check out this article on <a href="http://www.thisismoney.co.uk">This is Money</a> to see how risky it really is:
    <a href="http://www.thisismoney.co.uk/money/diyinvesting/article-3452668/A-10-year-investment-FTSE-100-95-success-rate-past-two-decades.html">95% Success rate of the FTSE 100 (The top 100 UK companies)</a>
</md-card>